version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pruebafullstack_api
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=postgres;Database=northwind;Username=admin;Password=password
      - JwtSettings__Secret=SuperSecretKeyForPruebaFullStackVeryLongAndSecure123!
      - JwtSettings__Issuer=PruebaFullStackAPI
      - JwtSettings__Audience=PruebaFullStackClient
    depends_on:
      - postgres

  postgres:
    image: postgres:15-alpine
    container_name: northwind_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: northwind
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
